<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Hello GET!</h1><br>
  エントリー<br>

  <p th:if="${users}">
  <div th:each="users,stat:${users}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>ID:[[${users.id}]]</td>
      <td>ユーザ名:[[${users.name}]]</td>
    </tr>
  </div>
  </p>

  <!--<div th:if="${room}">
    <ul>
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
      thが指定されているので[]が不要になる--
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>-->


  Hi [[${login_user}]]<br>

  <div th:if="${gu}">
    あなたの手 gu<br>相手の手 choki<br>結果 You Win!<br>
  </div>

  <div th:if="${ch}">
    あなたの手 choki<br>相手の手 choki<br>結果 Draw<br>
  </div>

  <div th:if="${pa}">
    あなたの手 pa<br>相手の手 choki<br>結果 You Lose<br>
  </div>

  <a href="/gu">ぐー</a>
  <a href="/ch">ちー</a>
  <a href="/pa">ぱー</a>


</body>

</html>
