<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Lec02 GET!</h1><br>
  Hi [[${login_user}]]<br>
  <h1>エントリー</h1><br>

  <p th:if="${users}">
  <div th:each="users,stat:${users}">
    <tr>
      <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
    </tr>
  </div>
  </p>

  <h1>アクティブな試合</h1><br>
  <p th:if="${matchinfo}">
  <div th:each="matchinfo,stat:${matchinfo}">
    <tr>
      <td>ID:[[${matchinfo.id}]]</td>
      <td>USER1:[[${matchinfo.user1}]]</td>
      <td>USER2:[[${matchinfo.user2}]]</td>
      <td>USER1HAND:[[${matchinfo.user1Hand}]]</td>
      <td>isActive:true</td>
    </tr>
  </div>
  </p>
  <h1>試合結果</h1><br>
  <p th:if="${match}">
  <div th:each="match,stat:${match}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>USER1:[[${match.user1}]]</td>
      <td>USER2:[[${match.user2}]]</td>
      <td>USER1HAND:[[${match.user1Hand}]]</td>
      <td>USER2HAND:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>



</body>

</html>
