<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Match<br>
    [[${login_user}]] v.s. [[${users.name}]]
  </h1>

  <a th:href="@{/wait/2(user2=${users.id})}">グー</a>
  <a th:href="@{/wait/1(user2=${users.id})}">チョキ</a>
  <a th:href="@{/wait/3(user2=${users.id})}">パー</a>

  </form>



  <a href="/lec02">もどる</a>


</body>

</html>
