<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>相手の手を待っています</h1><br>
  Hi [[${login_user}]]

  <p th:if="${match}">

  <div th:each="match,stat:${match}">
    <h1>結果</h1><br>
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>USER1:[[${match.user1}]]</td>
      <td>USER2:[[${match.user2}]]</td>
      <td>USER1HAND:[[${match.user1Hand}]]</td>
      <td>USER2HAND:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>



</body>

</html>
